* {
    box-sizing: border-box;
   
}

body {
    background-color: lightgray;
}
.green-border {
    border-color: lightgreen;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

img .translucent {
    opacity: 0.5;
}